
node_modules/

.env

cloudbuild

apps/curly
apps/curly-e2e
apps/api-e2e

.nx
.vscode
.github

dist/

.editorconfig
.gitignore
.prettierignore
.prettierrc
eslint.config.mjs
jest.config.ts
jest.preset.js
nx.json
tsconfig.base.json
tsconfig.json
vitest.workspace.ts
workspace.json